<footer class="bg-dark text-light py-4 mt-5">
    <div class="container text-center">
        <p class="mb-0">&copy; <%= new Date().getFullYear() %> WokeOrNot. All rights reserved.</p>
        <p class="mb-0">
            Follow us on:
            <a href="#" class="text-light mx-2"><i class="fab fa-twitter"></i> Twitter</a> |
            <a href="#" class="text-light mx-2"><i class="fab fa-facebook"></i> Facebook</a>
        </p>
    </div>
</footer>