<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/logo.webp" alt="WokeOrNot Logo" width="40" height="40" class="me-2">
            <span class="fw-bold">WokeOrNot</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/movies">Movies</a></li>
                <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
                <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>

                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown">
                            <%= user.firstName || user.email %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                            <li><a class="dropdown-item" href="/profile/edit">Edit Profile</a></li>
                            <li><a class="dropdown-item" href="/notifications">Notifications</a></li>
                            <li><a class="dropdown-item text-danger" href="/auth/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-warning text-dark" href="/auth/register">Sign Up</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>