<% layout('layout') %>

<!-- Hero / Banner Section with Dark Overlay -->
<div
  class="jumbotron jumbotron-fluid position-relative text-white"
  style="background: url('/images/hero-bg.jpg') center/cover no-repeat; margin-bottom: 0;"
>
  <!-- Semi-transparent overlay -->
  <div
    style="
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    "
  ></div>

  <!-- Content on top of the overlay -->
  <div class="container py-5 position-relative" style="z-index: 2;">
    <h1 class="display-4">Welcome to WokeOrNot</h1>
    <p class="lead">Rate the Wokeness of Your Favorite TV Shows & Movies</p>
    <a href="/auth/register" class="btn btn-warning btn-lg">Join Now</a>
  </div>
</div>

<!-- Trending Movies/Shows -->
<div class="container mt-4">
  <h2>Trending Movies and TV Shows</h2>
  <div class="row">
    <% trending.forEach(item => { %>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card h-100">
          <% if(item.poster_path) { %>
            <img
              src="https://image.tmdb.org/t/p/w500<%= item.poster_path %>"
              class="card-img-top"
              alt="<%= item.title || item.name %>"
            >
          <% } %>
          <div class="card-body">
            <h5 class="card-title"><%= item.title || item.name %></h5>
            <a href="/movies/add?tmdbId=<%= item.id %>" class="btn btn-primary">
              Rate Movie
            </a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
